  
<div class="jumbotron jumbotron-fluid">
<app-navbar></app-navbar>
<div class="card" style="width: 18rem;">
  <div class="card-header">{{title}}</div>
<input type="text" placeholder="Enter the task" #task/>
<br>

<button type="button" class="btn btn-success"(click)="addTask(task.value)">Add New Task</button>


<ul class="list-group list-group-flush" *ngFor="let item of list">
  <li class="list-group-item">{{item.name}}<br>
    <button type="button" class="btn btn-danger"(click)="removeTask(item.id)">Remove</button>
  </li>
</ul>
</div>
</div>